@page
@model We_Doku.Pages.Aboutus.IndexModel

@{
    Layout = "_Layout";
}

<div class="authors"><img src="~/reganavatar.png" id="avatar" /></div>
    <div><a href="https://github.com/bigrig72">Regan Dufort</a>
<img src="~/rickavatar.png" id="avatar" /><a href="https://github.com/rickflinn">Rick Flinn</a>
<img src="~/nateavatar.png" id="avatar" /><a href="https://github.com/ntibbals">Nate Tibbals</a>
<img src="~/rynaavatar.png" id="avatar" /><a href="https://github.com/rynnnaa">Ryna Truong</a></div>
