@page
@model We_Doku.Pages.Aboutus.IndexModel

@{
    Layout = "_Layout";
}
<div class="header-outer">
    @{<partial name="_NavbarPartial" />}
</div>
<p class="authortitle">Meet The Authors</p>
<div>
    <div class="allpics">
        <div>
            <a href="https://github.com/bigrig72"><img src="~/nateavatar.png" id="avatar"></a>
            <a href="https://www.linkedin.com/in/regan-dufort/" class=indnames>Regan Dufort</a>
        </div>
        <div>
            <a href="https://github.com/rickflinn"><img src="~/reganavatar.png" id="avatar"></a>
            <a href="https://www.linkedin.com/in/richardcflinn/" class=indnames>Rick Flinn</a>
        </div>
        <div>
            <a href="https://github.com/ntibbals"><img src="~/rickavatar.png" id="avatar"></a>
            <a href="https://www.linkedin.com/in/ntibbals/" class=indnames>Nate Tibbals</a>
        </div>
        <div>
            <a href="https://github.com/rynnnaa"> <img src="~/rynasavatar.png" id="avatar"></a>
            <a href="https://www.linkedin.com/in/ryna/" class=indnames>Ryna Truong</a>
        </div>
    </div>
</div>
