@page
@model We_Doku.Pages.Aboutus.IndexModel

@{
    Layout = "_Layout";
}

<p class="authortitle">Meet The Authors</p>

<div class="allpics"><img src="~/reganavatar.png" id="avatar" /><a href="https://github.com/bigrig72">Regan Dufort</a>
<img src="~/rickavatar.png" id="avatar" /><a href="https://github.com/rickflinn">Rick Flinn</a>
<img src="~/nateavatar.png" id="avatar" /><a href="https://github.com/ntibbals">Nate Tibbals</a>
<img src="~/rynasavatar.png" id="avatar" /><a href="https://github.com/rynnnaa">Ryna Truong</a></div>
