@using Microsoft.AspNetCore.Identity
@using We_Doku.Models
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{ 
    var nickName = @User.Claims.First(c=> c.Type == "NickName").Value;
}
<div class="mess-contain">
    <div class="">
        <div class="messenger">
            <input type="hidden" value="@nickName" id="userInput" />
            <br />
            Message<input type="text" id="messageInput" />
            <i id="sendButton" class="fas fa-comment-alt">Send Message</i>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

