<div class="mess-contain">
    <div class="">
        <div class="messenger">
            User Name<input type="text" id="userInput" />
            <br />
            Message<input type="text" id="messageInput" />
            <input type="button" id="sendButton" class="send-button" value="Send Message" />
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

