@using We_Doku.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</head>
<div>
    <div class="animation-home">
        <div class="welcome">
            <div>Welcome</div><br />
            <div>To</div><br />
            <div>Wedoku</div><br />
        </div>
    </div>
</div>


<div class="enter">
    <a href="~/Account/Login"><button>PLAY</button></a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/home.js"></script>
