@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
    background-image: url("https://cdn12.picryl.com/photo/2016/12/31/wood-board-structure-backgrounds-textures-596a72-1024.jpg");
    background-size: cover;
}

p {
    color: #000;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
}

.ColorChange {
    border: 10px solid black;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 1vw;
    min-width: 500px;
}

.container{
    display: flex;
    flex-direction: row;
}

.row {
    border: 1px solid black;
}

.col-sm {
    border-right: 1px solid black;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: cornflowerblue;
}

.ColorChange1 {
    border: 10px solid green;
}

.ColorChange2 {
    border: 10px solid red;
}

.hideSquare {
    display: none;
}

.unhideSquare {
    display: inline-block;
}

table {
    background: url("beachheart.jpg") center;
    /*animation: move linear 10s infinite;*/
    margin: 1em auto;
    min-width: 350px;
    min-height: 610px;
}

td {
    height: 4vw;
    width: 4vw;
    min-height: 20px;
    border: 1px solid;
    text-align: center;
}

    td:first-child {
        border-left: solid black;
    }

    td:nth-child(3n) {
        border-right: solid black;
    }

tr:first-child {
    border-top: solid black;
    height: 20px;
    width: 20px;
}

tr:nth-child(3n) td {
    border-bottom: solid black;
}

.hideSquare {
    display: none;
}

.un-hideSquare {
    display: block;
}

input {
    width: 100%;
    height: 100%;
    min-height: 20px;
    font-size: 1.5em;
    text-align: center;
    background-repeat: no-repeat;
}

.nosalt {
    animation: none;
}

.saltShaker {
    background: url("beachheart.jpg") center;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#newButt {
    padding: .3vw;
    background-color: #fff;
    padding-left: .7vw;
    padding-right: .7vw;
    border: solid 2px #000;
    border-radius: .5em;
    font-size: 20px;
    max-width: 95%;
}

.win {
    background: url("confetti.png") center;
    animation: move linear 5s infinite;
    z-index: 2;
}

#win-contain {
    margin-top: 1vw;
}

#but-contain {
    margin: 0 auto;
    text-align: center;
    margin-top: 1vw;
    font-size: 40px;
    font-weight: bold;
}

/******************************Chat box*************************/

.mess-contain {
    margin: 0 auto;
    margin-top: 30px;
}

#message-box-contain {
    background: url("chatroom.jpg") center;
    height: 180px;
    width: 25vw;
    min-width: 300px;
    overflow: auto;
    margin-bottom: 4vw;
}

#component {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.messenger {
    width: 300px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}


.send-button{
    margin-top: 1vw;
    color: #fff;
    background-color: #000;
    margin-bottom: 40px;
}

#sendButton {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 40px;
    background-color: #497960;
    width: 300px;
    border-radius: .2em;
    height: 43px;
}
    #sendButton:hover {
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-size: 40px;
        background-color: #624e2c;
        width: 300px;
        border-radius: .2em;
        height: 43px;
    }

@media (max-width: 669px) {

    #component {
        margin-top: 2vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }

    .messenger {
        min-width: 300px;
    }
    .container {
        display: block;
        flex-direction: row;
    }

}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/*Logic form thead login command registration*/

h3 {
    font-family: 'Lato', sans-serif;
    padding-left: 28PX;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #444444;
}

.login-reg-panel.container-fluid {
    height: 30vw;
    width: 84vw;
    box-shadow: 0 0 28px 6px #00000096;
}

.login-reg-panel {
    position: relative;
    top: 50%;
    text-align: center;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    height: 64vh;
    background-color: rgba(236, 48, 20, 0.7);
}

button.Form-Toggle {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    width: 25vw;
    height: 4vh;
    background: top;
    padding-left: 1vw;
    margin: 28px;
}

.register-info-box {
    width: 37%;
    top: 20%;
    right: 0;
    position: absolute;
    text-align: left;
}

.white-panel {
    background-color: darkslategray;
    height: 32vw;
    position: absolute;
    top: -4vw;
    width: 50%;
    right: calc(50% - 50px);
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #00000096;
}

.Dark-panel {
    background-color: darkslategray;
    height: 38vw;
    position: absolute;
    top: -6vw;
    left: 38vw;
    width: 50%;
    right: calc(50% - 50px);
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #00000096;
}

.login-reg-panel input[type="radio"] {
    position: relative;
    display: none;
}

.login-reg-panel {
    color: #B8B8B8;
    margin-top: 11vw;
}

    .login-reg-panel #label-login,
    .login-reg-panel #label-register {
        border: 1px solid #9E9E9E;
        padding: 5px 5px;
        width: 150px;
        display: block;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
    }





.right-log {
    right: 50px !important;
}

.login-show, .register-show {
    z-index: 1;
    transition: 0.3s ease-in-out;
    color: #242424;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vw;
}

.show-log-panel {
    display: block;
    opacity: 0.9;
}

.login-show input[type="text"], .login-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}

.login-show a {
    display: inline-block;
    padding: 10px 0;
}

.register-show input[type="text"], .register-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

button#btnShowForm {
    height: 3vw;
    width: 19vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #2c7715;
}

.register-show input[type="text"], .register-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 1vw 0;
    padding: 1vw;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-reg-panel.container-fluid {
    height: 24vw;
    width: 84vw;
}

.login-info-box {
    width: 39%;
    top: 5%;
    left: 7vw;
    margin-top: 9vh;
    position: absolute;
    text-align: left;
}


@media only screen and (max-width: 500px) {
    h3 {
        font-size: 1.0em;
    }

    .register-info-box{
    width: 29%;
    top: 20%;
    right: 22vw;
    position: absolute;
    text-align: left;
    font-weight: bold;
    color: black;
    }

    button#btnShowForm {
        height: 6vw;
        width: 19vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .Dark-panel {
        background-color: darkslategray;
        height: 50vh;
        position: absolute;
        top: -45vw;
        left: 43vw;
        width: 50%;
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 3vw #00000096;
        margin-top: 36vw;
        width: 60vw;
    }

    .register-show input[type="text"], .register-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 2vw 0;
        /* padding: 15px; */
        border: 1px solid #b5b5b5;
        outline: none;
    }

    input {
        width: 100%;
        height: 100%;
        /* min-height: 20px; */
        font-size: 1em;
        text-align: center;
        background-repeat: no-repeat;
    }

    .login-reg-panel {
        position: relative;
        top: 5%;
        transform: translateY(-50%);
        text-align: center;
        width: 97%;
        right: 0;
        left: 0;
        /* margin: auto; */
        margin-left: auto;
        margin-right: auto;
        height: 64vh;
        background-color: rgba(236, 48, 20, 0.9);
        color: #B8B8B8;
        margin-top: 50%;
    }

    .white-panel {
        background-color: darkslategray;
        height: 49vh;
        position: absolute;
        top: -51vw;
        right: 56vw;
        width: 45%;
        margin-top: 42vw;
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 3vw #00000096;
    }

    .login-reg-panel.container-fluid {
        height: 56vw;
        width: 84vw;
        margin-top: 67vw;
    }

    .register-info-box {
        width: 29%;
        top: 20%;
        right: 22vw;
        position: absolute;
        text-align: left;
    }

    .login-info-box {
        width: 26%;
        top: 5%;
        left: 9vw;
        margin-top: 6vh;
        position: absolute;
        text-align: center;
        color: black;
    }

    input#Email, #Password {
        width: 100%;
        display: block; 
        margin: 2vw 0; 
        /* padding: 4vw; */
        /*border: 1px solid #b5b5b5; */
        /* outline: none; */   
        
    
    }
   
}


/*animation: move linear 10s infinite;*/
@keyframes move {
    from {
        background-position: 0
    }

    to {
        background-position: -100% 0
    }
}

@keyframes fireworks {
    from {
        background-position: 0
    }

    to {
        background-position: 0 -100%
    }
}

a {
    text-decoration-color: black;
}

.authortitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Barrio', cursive;
}

#avatar {
    width: 15vw;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.authors {
    text-align: center;
    border-color: black;
    border-style: solid;
}

.allpics {
    margin: 8vw;
}

/*ANIMATION HOME */

.animation-home {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
}

.animation-home {
    margin-top: 15vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 700;
}

.animation-home .letter {
    display: inline-block;
    line-height: 1em;
}
span.letter {
    border: 3px solid black;
    margin-right: .5vw;
    box-shadow: 0 11px 4px -2px;
}

.welcome {
    display: flex;
    margin-left: 29vw;
    margin-right: 33vw;
    justify-content: space-between;
}

.letters, .letters2, .letters3 {
    border: 2px solid black;
    padding: 1vw;
}

.welcome-to {
    display: flex;
    margin-top: 2vw;
    margin-left: 42vw;
    margin-right: 46vw;
    justify-content: space-evenly;
}

.wedoku {
    display: flex;
    margin-left: 32vw;
    margin-right: 37vw;
    justify-content: space-between;
    margin-top: 2vw;
}

button {
    background: transparent;
    border: none;
    font-size: xx-large;
    padding: 2vw;
}
.enter {
    width: 10%;
    border: 6px solid black;
    margin-top: 3vw;
    margin-left: 47%;
}
