@model We_Doku.Models.ViewModels.RegisterUser
@using Microsoft.AspNetCore.Identity;
@using We_Doku.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<head>

</head>

<body class="login-body">

    <div class="login-reg-panel">
        <h1>Login</h1>
        <div class="login-info-box">
            <h2>Already Have an account?</h2>
            <label id="label-register" for="log-reg-show">Login</label>
            <input type="radio" name="activate-log-panel" id="log-reg-show" checked="checked" />
        </div>
        <div class="register-info-box">
            <h2>Don't have an account?</h2>
            <p>Please register below with a new account</p>
            <label id="label-login" for="log-login-show">Register</label>
            <input type="button" name="active-log-panel" id="move" />
        </div>
        <form method="post">
            <div class="white-panel">
                <div class="login-show">
                    <h2>LOGIN</h2>
                    <input type="text" asp-for="Email" placeholder="Email" />
                    <input type="password" asp-for="Password" placeholder="password" />
                    <button type="submit" asp-controller="Account" asp-action="Login" value="Login" />
                    <a href="">Forgot Password</a>
                </div>
            </div>
        </form>
        <div class="Dark-panel">
            <div class=" register-show">
                <form method="post">
                    <h2>REGISTER</h2>
                    <input type="text" asp-for="FirstName" placeholder="First Name" />
                    <input type="text" asp-for="LastName" placeholder="Last Name" />
                    <input type="text" asp-for="Email" placeholder="Email" />
                    <input type="password" asp-for="Password" placeholder="Password" />
                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                    <button type="submit" id="btnShowForm" asp-controller="Account" asp-action="Register" />
                </form>
            </div>
        </div>
    </div>

</body>


@*Javascript for the form to slide between registration and Login*@

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#move").click(function () {
            $(".white-panel").animate({ right: '250px' });
        });
    });
</script>