@model We_Doku.Models.ViewModels.RegisterUser
@using Microsoft.AspNetCore.Identity;
@using We_Doku.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body class="login-body">

    <div class="login-reg-panel">
       
        <div class="login-info-box">
            <h2>Already Have an account?</h2>
            <button type="button" class="Form-Toggle">Toggle</button>
        </div>
        <div class="register-info-box">
            <h2>Don't have an account?</h2>
            <p>Please register below with a new account</p>           
            <button type="button" class="Form-Toggle">Toggle</button>
        </div>
        <form method="post">
            <div class="white-panel toggleableForm">
                <div class="login-show">
                    <h2>LOGIN</h2>
                    <input type="text" asp-for="Email" placeholder="Email" />
                        <input type="password" asp-for="Password" placeholder="password" />
                        <button type="submit" asp-controller="Account" asp-action="Login" value="Login" />
                    <a href="">Forgot Password</a>
                </div>
            </div>
        </form>
        <div class="Dark-panel toggleableForm">
            <div class=" register-show">
                <form method="post">
                <h2>REGISTER</h2>
                <input type="text" asp-for="FirstName" placeholder="First Name" />
                    <input type="text" asp-for="LastName" placeholder="Last Name" />
                    <input type="text" asp-for="Email" placeholder="Email" />
                    <input type="password" asp-for="Password" placeholder="Password" />
                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                <button type="submit" id="btnShowForm" asp-controller="Account" asp-action="Register" />
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $('.Dark-panel').toggle();

        //$('.gray, .orange').on(
        //    'click',
        //    function () {
        //        $('.gray, .orange').toggle()
        //    }
        //);
        //$(document).ready(function () {
        //    $('.login-info-box').fadeOut();

        $(".Form-Toggle").click(function () {
            $(".toggleableForm").toggle();
        });
    </script>