@model We_Doku.Models.ViewModels.RegisterUser
@using Microsoft.AspNetCore.Identity;
@using We_Doku.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body class="login-body">
    <div class="header-outer">
        @{<partial name="_NavbarPartial" />}
    </div>
    <div class="login-reg-panel container-fluid">
       
        <div class="login-info-box">  

            <h3>Already have an account, login</h3>
            <button type="button" class="Form-Toggle">Login</button>
        </div>
        <div class="register-info-box">
            <h3>Sign up for a new account</h3>
            <button type="button" class="Form-Toggle">Register</button>
        </div>
        <form method="post">
            <div class="white-panel toggleableForm">
                <div class="login-show">
                    <h2>LOGIN</h2>
                    <input type="text" asp-for="Email" placeholder="Email" />
                        <input type="password" asp-for="Password" placeholder="password" />
                        <button type="submit" asp-controller="Account" asp-action="Login" value="Login" />
                    <a href="">Forgot Password</a>
                </div>
            </div>
        </form>
        <div class="Dark-panel toggleableForm">
            <div class=" register-show">
                <form method="post">
                <h2>REGISTER</h2>
                <input type="text" asp-for="FirstName" placeholder="First Name" />
                    <input type="text" asp-for="LastName" placeholder="Last Name" />
                    <input type="text" asp-for="Email" placeholder="Email" />
                    <input type="text" asp-for="UserName" placeholder="User Name" />
                    <input type="password" asp-for="Password" placeholder="Password" />
                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                <button type="submit" id="btnShowForm" asp-controller="Account" asp-action="Register">Submit</button> />
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $('.Dark-panel').toggle();

        //$('.gray, .orange').on(
        //    'click',
        //    function () {
        //        $('.gray, .orange').toggle()
        //    }
        //);
        //$(document).ready(function () {
        //    $('.login-info-box').fadeOut();

        $(".Form-Toggle").click(function () {
            $(".toggleableForm").toggle();
        });
    </script>