@using Microsoft.AspNetCore.Identity
@using We_Doku.Models
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Game">WEDOKU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/Game">Play WEDOKU<span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="/AboutUs">About us</a>
                <a class="nav-item nav-link" href="/Lobby">Lobby</a>
                @if (signInManager.IsSignedIn(User))
                {
                    <a id="button-new" href='/Account/Logout'><i class="fas fa-sign-out-alt">Log Out</i></a>
                }
                else
                {
                    <a id="button-new" href='/Account/Login'><i class="fas fa-sign-in-alt"></i>Log In</a>
                }
            </div>
        </div>
    </nav>
</header>